@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-image:url(../../../../../../../Documents/robgraphic.com/parta.jpg);
	margin: 0;
	padding: 0;
	background-position:center center;
	background-size: 50%;
	font: normal 100%/1.5 sans-serif;
	font-family: 'Monda', serif;
}

body {
	margin: 0;
	padding: 0 10px;
}

.main-content {
	
	background-color:#6A6A6A;
	padding-bottom:20em;
	color:#9E9E9E;
	opacity:0.9;
	font-size: 0.75rem;
	
}
.main-content p {
	padding: 0% 12%;
	text-align:left;
	opacity:1;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h2 {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
	color:#999;
}

p {
	margin: 0 0 1.5rem;
	padding: 0;
	color:#9E9E9E;
}

ul,
ol {
	margin: 1.5rem 0;
}

li {
	 list-style:none;
}

sup {
	line-height: 1px;
}

a,
a:link,
a:visited {
	

	color:#9E9E9E;
	text-decoration: none;
}



@media only screen and (min-width: 45em) {
	
	.html{
		font-size:1.5em;
	}
}

img {
	display:block;
	width:100%;
}

.seethru {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}


.logo {
	margin: 2% auto;
	width: 100px;
}

h2 {
	color:#000;
}
	
p,h1,h2 {
	text-align:center;
	font-family: 'Monda', serif;
}


header {
	background-color:#000;
	padding: 1%;
	width: 100%;
	opacity: .8;

}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.masthead {
	margin: 0 0 1rem;
}

.masthead-top {
	overflow: hidden;
	position: relative;
}

.stats-list {
	background-color:#FFF;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: block;

}

nav .selected {
	background-color:#0FF;
}

.brain {
	max-height: 20em;
	max-width: 20em;
	align: right;
}

@media only screen and (min-width: 25em) {
	
	.logo {
		align: left;
	}
	
	.html{
		font-size:0.5em;
	}
	
}


@media only screen and (min-width: 35em) {
	
	
	.logo {
		align: left;
	}
	
	.nav {
		text-align:center;
	}
	
	.nav li {
		display: inline-block;
		float:none;
		width: auto;
		margin: 0 0.5em;
	}
	
	.nav-btn {
		display:none;
	}
	
	.nav-top {
		max-height: 5rem;
	}


}

@media only screen and (min-width: 50em) {
	
	.nav-top{
		float:right;
	}
	
	.masthead-top {
		float:left;
	}
}

@media only screen and (min-width: 65em) {
	.masthead {
		float: left;
		width: 20%;
		height: 1500px;
		background-color:#000;
	}
	
	.main-content {
		float: right;
		width: 80%;
		height: 1500px;
		
	}
	.main-content p {
		padding: 0% 12%;
		
	}
		
	
	.nav-top{
		float:none;
		text-align:left;
		position:fixed;
		padding: 8% 0%
	}
	
	.masthead-top {
		float:none;
	}
	.nav-top li {
		display:block;
		margin: 0;
	}
	.body img {
		display:none;
	}
	
}
.stats-table {
	display: none;
	width: 100%;
	padding-bottom:200px;
	border-collapse: collapse;
}

.stats-table tbody tr:nth-child(odd) {
	background-color: #e2e2e2;
}

.stats-table th {
	padding: 1.5rem;

	text-align: left;
}

.stats-table td {
	padding: 0.5rem;

	text-align: left;
}



@media only screen and (min-width: 45em) {
	
	.stats-list {
		display:none;
	}
	
	.stats-table {
		display:table;
	}
}

.footer {
	display:block;
}

footer {
	background-color:#000;
	padding: 2% 2% 2% 2%;
	width: 100%;
	position: fixed;
	bottom: 0;
	opacity: .8;
}

footer p {
	color: #fff;
	font-size: 0.75em;
	
}
