.navbar-inner {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
	background-color: #2d3538;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar .nav > li a{
	color: #fff;
	text-shadow: none;


}

.navbar .nav > li a:hover{
	color: #000;
	
}

.navbar .nav .active > li a{
	color: #666;
	background: none;
	
}

.navbar .nav .active > a:hover{
	background: none;
	
}

.style1 {
	background-image:url(../../../../../../../Documents/robgraphic.com/parta.jpg);
	margin: 0;
	padding: 0;
	background-position:center center;
	background-size: 50%;
	font: normal 100%/1.5 sans-serif;
	font-family: 'Monda', serif;
}


